.DS_Store
.docker/
*.jar
**/*.data/
ngrok.yml
.env

.idea

.vscode
!.vscode/settings.json

.installed.cfg
.venv
.Python
pip-log.txt
pip-delete-this-directory.txt
*.manifest
*.spec
__pycache__/
*.py[cod]
*$py.class