MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=change1t
# todo https://docs.ferretdb.io/security/authentication/
FERRETDB_POSTGRESQL_URL=postgres://sqldb-provider:P@stgre5:5432/ferret_db
FERRETDB_TELEMETRY=enable